.top-user-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  padding: 0 30px;
  z-index: 10;
  box-shadow: 0 1px 4px 0 rgba(0,21,41,0.12);
  background: #FFFFFF;
  box-sizing: border-box;
  .mini-nav {
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    h1 {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      font-family: PingFangSC-Regular;
      font-size: 11px;
      text-align: center;
      line-height: 44px;
      overflow: hidden;
      color: #ECEFF1;
      background-color: #9E9E9E;
      img {
        width: 100%;
        height: 100%;
      }
    }
    span {
      width: 20px;
      height: 20px;
      margin-left: 20px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .top-user {
    position: relative;
    height: 100%;
    padding-left: 10px;
    float: right;
    display: flex;
    align-items: center;
    h2 {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: #9E9E9E;
    }
    .triangle-wrapper {
      width: 32px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      span {
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 8px solid #333;
        cursor: pointer;
      }
      .out-btn {
        display: none;
        position: absolute;
        right: -20px;
        bottom: -25px;
        width: auto;
        height: auto;
        padding: 5px 10px;
        border-radius: 4px;
        box-shadow: 0 1px 6px rgba(0,0,0,.2);
        font-size: 12px;
        cursor: pointer;
        color: #515a6e;
        background-color: #fff;
      }
    }
    .triangle-wrapper:hover .out-btn{
      display: block;
    }
  }
}

@media screen and (max-width: 800px) {
  .top-user-wrapper {
    padding: 0 15px;
    .top-user {
      padding-left: 50px;
      h2 {
        display: none;
      }
      .triangle-wrapper{
        .out-btn {
          right: -10px;
        }
      }
    }
  }
}