.card-list-wrapper {
  width: 100%;
  height: auto;
  padding: 25px 10px 0 30px;
  background-color: #f5f5f5;
  box-sizing: border-box;
  .card-nav {
    width: 100%;
    height: auto;
    padding: 0 20px 25px 0;
    box-sizing: border-box;
    .card-nav-center {
      width: 100%;
      height: auto;
      border-radius: 2px;
      padding: 0 30px;
      background: #FFFFFF;
      box-sizing: border-box;
      .type-wrapper {
        width: 100%;
        height: auto;
        padding-top: 25px;
        display: flex;
        border-bottom: 1px dashed #E9E9E9;
        .type-title {
          width: 90px;
          height: auto;
          h5 {
            font-size: 14px;
            line-height: 22px;
            color: rgba(0, 0, 0, 0.85);
          }
        }
        .type-list {
          flex: 1;
          height: auto;
          ul {
            display: flex;
            flex-wrap: wrap;
            li {
              display: inline-block;
              padding: 0 8px;
              margin: 0 20px 15px 0;
              cursor: pointer;
              font-size: 14px;
              line-height: 22px;
              color: rgba(0, 0, 0, 0.65);
            }
            .active {
              color: #fff;
              background-color: #08979C;
              border-radius: 2px;
            }
          }
        }
      }
      .select-wrapper {
        width: 100%;
        height: auto;
        padding: 15px 0 10px 0;
        display: flex;
        .select-title {
          width: 90px;
          height: auto;
          h5 {
            font-size: 14px;
            line-height: 32px;
            color: rgba(0, 0, 0, 0.85);
          }
        }
        .select-text {
          flex: 1;
          height: auto;
          ul {
            display: flex;
            flex-wrap: wrap;
            li {
              margin: 0 50px 15px 0;
              display: flex;
              line-height: 32px;
              h6 {
                font-size: 14px;
                line-height: 32px;
                color: rgba(0, 0, 0, 0.65);
              }
              .select-input {
                width: 224px;
                height: 32px;
                padding: 0 12px;
              }
            }
          }
        }
      }
    }
  }
  .card-main {
    width: 100%;
    height: auto;
    ul {
      width: 100%;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      li {
        width: 25%;
        height: auto;
        padding-right: 20px;
        margin-bottom: 20px;
        box-sizing: border-box;
        .li-list {
          width: 100%;
          height: auto;
          border: 1px solid #E9E9E9;
          border-radius: 2px;
          cursor: pointer;
          background-color: #fff;
        }
        .list-img {
          position: relative;
          width: 100%;
          height: auto;
          padding-top: 60%;
          overflow: hidden;
          img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 2px 2px 0 0;
            object-fit: cover;
          }
        }
        .list-text {
          width: 100%;
          height: auto;
          padding: 20px 22px;
          box-sizing: border-box;
          h3 {
            width: 100%;
            height: 24px;
            margin-bottom: 5px;
            line-height: 24px;
            overflow: hidden;
            font-family: PingFangSC-Medium;
            font-size: 16px;
            color: rgba(0, 0, 0, 0.85);
          }
          p {
            width: 100%;
            height: 44px;
            font-size: 14px;
            overflow: hidden;
            line-height: 22px;
            color: #8e8e8e;
          }
          span {
            width: 100%;
            height: 20px;
            overflow: hidden;
            font-family: SFUIText-Regular;
            font-size: 12px;
            color: #8e8e8e;
            line-height: 20px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1100px) {
  .card-list-wrapper {
    .card-main {
      ul {
        li {
          width: 50%;
        }
      }
    }
  }
}
@media screen and (max-width: 550px) {
  .card-list-wrapper {
    padding: 20px 0;
    .card-nav {
      padding: 0 0 20px 0;
      .card-nav-center {
        .type-wrapper {
          display: block;
          .type-title {
            width: 100%;
            padding-bottom: 15px;
          }
        }
        .select-wrapper {
          display: block;
          .select-title {
            width: 100%;
            padding-bottom: 10px;
          }
          .select-text {
            ul {
              display: block;
              li {
                margin: 0 0 15px 0;
                .select-input {
                  width: auto;
                  flex: 1;
                }
              }
            }
          }
        }
      }
    }
    .card-main {
      ul {
        li:nth-child(odd) {
          padding-right: 5px;
        }
        li:nth-child(even) {
          padding: 0 0 0 5px;
        }
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .card-list-wrapper {
    .card-main {
      ul {
        display: block;
        li {
          width: 100%;
        }
        li:nth-child(odd) {
          padding-right: 0;
        }
        li:nth-child(even) {
          padding: 0;
        }
      }
    }
  }
}