.robot-management-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 190px 30px 30px 270px;
  z-index: 10;
  background-color: #f5f7f9;
  box-sizing: border-box;
}

@media screen and (max-width: 800px) {
  .robot-management-wrapper {
    padding: 175px 0 0 0;
  }
}
