.topic-management-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 190px 30px 30px 270px;
  z-index: 10;
  background-color: #f5f7f9;
  box-sizing: border-box;
  .topic-main {
    width: 100%;
    height: auto;
    .topic-nav {
      width: 100%;
      height: auto;
      padding-bottom: 15px;
      margin-bottom: 10px;
      border-bottom: 1px solid #e8eaec;
      display: flex;
      justify-content: space-between;
      ul {
        display: flex;
        flex-wrap: wrap;
        li {
          display: inline-block;
          height: 40px;
          padding: 0 15px;
          margin-right: 10px;
          border: 1px solid #e8eaec;
          border-radius: 6px;
          line-height: 40px;
          font-size: 12px;
          cursor: pointer;
          color: #515a6e;
          box-sizing: border-box;
        }
        .active, li:hover {
          color: #fff;
          background-color: #2db7f5;
        }
      }
      .add-type {
        width: 80px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        font-size: 12px;
        border-radius: 6px;
        cursor: pointer;
        color: #fff;
        background-color: #2db7f5;
      }
    }
    .topic-select {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-between;
      ul {
        display: flex;
        flex-wrap: wrap;
        li {
          display: inline-block;
          height: 35px;
          padding: 0 10px;
          margin: 0 10px 10px 0;
          border: 1px solid #e8eaec;
          border-radius: 18px;
          line-height: 33px;
          font-size: 12px;
          cursor: pointer;
          color: #515a6e;
          box-sizing: border-box;
        }
        .active, li:hover {
          color: #fff;
          background-color: #2db7f5;
        }
      }
      .style-select {
        ul {
          display: flex;
          flex-wrap: wrap;
          li {
            border: none;
            margin: 0;
            width: 100%;
            text-align: center;
            border-radius: 0;
          }
          li:hover {
            color: #2db7f5;
            background-color: #fff;
          }
        }
      }
    }
    .topic-wrappers {
      width: 100%;
      height: auto;
      margin-top: 20px;
      border: 1px solid #dcdee2;
      box-sizing: border-box;
      .topic-top {
        background-color: #F8F8F9;
        ul {
          width: 100%;
          height: auto;
          display: flex;
          li {
            flex: 1;
            padding: 0 15px;
            line-height: 40px;
            list-style: none;
            font-weight: bold;
            font-size: 12px;
            color: #515a6e;
            box-sizing: border-box;
          }
        }
      }
      .topic-main {
        ul {
          width: 100%;
          height: auto;
          border-top: 1px solid #dcdee2;
          display: flex;
          cursor: pointer;
          li {
            flex: 1;
            height: 48px;
            padding: 0 15px;
            line-height: 48px;
            list-style: none;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            font-size: 12px;
            color: #515a6e;
            box-sizing: border-box;
            a {
              color: #2db7f5;
            }
            img {
              display: block;
              width: 40px;
              height: 40px;
              margin-top: 4px;
              border-radius: 50%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .topic-management-wrapper {
    padding: 175px 0 0 0;
  }
}
