.user-management-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 190px 30px 30px 270px;
  z-index: 10;
  background-color: #f5f7f9;
  box-sizing: border-box;
  .user-management-content {
    width: 100%;
    height: auto;
    .add-type-wrapper {
      width: 100%;
      height: auto;
      overflow: hidden;
      .add-type {
        width: 80px;
        height: 30px;
        float: right;
        text-align: center;
        line-height: 30px;
        font-size: 12px;
        border-radius: 6px;
        cursor: pointer;
        color: #fff;
        background-color: #2db7f5;
      }
    }
    .topic-nav {
      width: 100%;
      height: auto;
      padding-bottom: 15px;
      margin-bottom: 10px;
      border-bottom: 1px solid #e8eaec;
      ul {
        display: flex;
        flex-wrap: wrap;
        li {
          display: inline-block;
          height: 40px;
          padding: 0 15px;
          margin-right: 10px;
          border: 1px solid #e8eaec;
          border-radius: 6px;
          line-height: 40px;
          cursor: pointer;
          list-style: none;
        }
        .active, li:hover {
          color: #fff;
          background-color: #2d8cf0;
        }
      }
    }
    .topic-select {
      width: 100%;
      height: auto;
      ul {
        display: flex;
        flex-wrap: wrap;
        li {
          display: inline-block;
          height: 35px;
          padding: 0 10px;
          margin: 0 10px 10px 0;
          border: 1px solid #e8eaec;
          border-radius: 18px;
          line-height: 35px;
          cursor: pointer;
          list-style: none;
          .active, li:hover {
            color: #fff;
            background-color: #2d8cf0;
          }
        }
      }
    }
    .topic-wrappers {
      width: 100%;
      height: auto;
      margin-top: 20px;
      border: 1px solid #dcdee2;
      .topic-top {
        background-color: #F8F8F9;
        ul {
          width: 100%;
          height: auto;
          display: flex;
          li {
            flex: 1;
            padding: 0 15px;
            line-height: 40px;
            list-style: none;
            font-weight: bold;
            font-size: 12px;
            color: #515a6e;
            box-sizing: border-box;
          }
        }
      }
      .topic-main {
        ul {
          width: 100%;
          height: auto;
          border-top: 1px solid #dcdee2;
          display: flex;
          cursor: pointer;
          li {
            flex: 1;
            height: 48px;
            padding: 0 15px;
            line-height: 48px;
            list-style: none;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            font-size: 12px;
            color: #515a6e;
            box-sizing: border-box;
            img {
              display: block;
              width: 40px;
              height: 40px;
              margin-top: 4px;
              border-radius: 50%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .user-management-wrapper {
    padding: 175px 0 0 0;
  }
}
